{% block head %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="HubAgri">
    <link rel="stylesheet" href="{{ asset('font-awesome-4.6.3/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('style/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('style/jquery-ui-1.12.1/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/summernote.css')}}">
    <link rel="stylesheet" href="{{ asset('style/style.css')}}">
    <link rel="icon" type="image/png" href="{{ asset("#") }}">
    <script src="{{ asset('style/jquery/jquery-3.1.1.min.js')}}"></script>
    <script src="{{ asset('js/jquery.tablesorter/jquery.tablesorter.min.js')}}"></script>
    <script src="{{ asset('style/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('style/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/custom.js')}}"></script>
    <script src="{{ asset('dist/summernote.min.js')}}"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <title>HubAgri</title>
</head>
{% endblock %}
<body>

</body>
</html>
