{% block head %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="HubAgri">
    <link rel="stylesheet" href="{{ asset('font-awesome-4.6.3/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('style/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('style/jquery-ui-1.12.1/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/summernote.css')}}">
    <link rel="stylesheet" href="{{ asset('style/style.css')}}">
    <link rel="icon" type="image/png" href="{{ asset("#") }}">
    <script src="{{ asset('style/jquery/jquery-3.1.1.min.js')}}"></script>
    <script src="{{ asset('js/jquery.tablesorter/jquery.tablesorter.min.js')}}"></script>
    <script src="{{ asset('style/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('style/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/custom.js')}}"></script>
    <script src="{{ asset('dist/summernote.min.js')}}"></script>
    <script src="{{ asset('style/js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('style/js/isotope.pkgd.min.js') }}"></script>
    <title>HubAgri</title>
</head>
{% endblock %}
<body>
    <div class="container">
        <div class="row imgDetailTitre">
            <div class="col-xs-8">
                <img class="hidden-md hidden-lg imgthomas img-responsive" src="{{ asset( '/image/thomas.png') }}">
            </div>
            <div class="col-xs-4">
                <div class="articleDetailNom">
                    Auteur : {{ articles.nom }} <br/>
                    Système de culture : {{ articles.culture }} <br/>
                    Région : {{ articles.region }} <br/>
                    Status : {{ articles.statut }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hidden-xs hidden-sm imgThomasCentre">
                <img class="imgthomas img-responsive" src="{{ asset( '/image/thomas.png') }}">
            </div>
            <div class="articleDetailTitre">
               <h1> {{ articles.titre }} </h1>
            </div>
        </div>
        <div class="articleDetailDate text-center">
            Posté le {{ articles.date | date('d-m-Y') }}
        </div>
        <div class="articleDetailContenu text-justify">
            {{ articles.contenu }}
        </div>
        <div>
            {{ articles.video }}
        </div>
        <div class="articleNote">
            <h2 class="text-center">NOTEZ CET ARTICLE</h2>
            <p>Cet article vous a-i-il été utile?</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="rating rating2"><!--
                --><a href="#5" title="5/5">★</a><!--
                --><a href="#4" title="4/5">★</a><!--
                --><a href="#3" title="3/5">★</a><!--
                --><a href="#2" title="2/5">★</a><!--
                --><a href="#1" title="1/5">★</a>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        <div class="row">
            <div class="commentaire">
                <h2>COMMENTAIRE</h2>
                <input class="checkboxArticle" type="checkbox">Je souhaite être notifié<br/>
            </div>
            <div class="commentaireEdit">
                <p>Rédigez votre commentaire ...</p>
            </div>
            <button class="btn btn-default boutonPublier" type="submit">Publier</button>
        </div>

    </div>











</body>
</html>
