<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="HubAgri">
    <link rel="stylesheet" href="{{ asset('font-awesome-4.6.3/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('style/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('style/jquery-ui-1.12.1/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/summernote.css')}}">

    <link rel="icon" type="image/png" href="{{ asset("#") }}">
    <script src="{{ asset('style/jquery/jquery-3.1.1.min.js')}}"></script>
    <script src="{{ asset('js/jquery.tablesorter/jquery.tablesorter.min.js')}}"></script>
    <script src="{{ asset('style/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('style/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/custom.js')}}"></script>
    <script src="{{ asset('dist/summernote.min.js')}}"></script>
    <script src="{{ asset('style/js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('style/js/isotope.pkgd.min.js') }}"></script>
    <title>HubAgri</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <link rel="stylesheet" href="{{ asset('style/style.css')}}">
</head>

<body class="bodyRang">
<nav class="navbar navbar menu">
    <div class="container-fluid menuNav">
        <div class="navbar-header">
            <a class="navbar-brand " href="#"><img src="{{ asset('image/logo.png')}}" alt="Logo de la Agri'ID" class="img-responsive logo" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('accueil') }}">Accueil</a></li>
            <li><a class="menuFont" href="{{ path('article') }}">Rechercher</a></li>
            <li><a class="menuFont" href="#">Partager</a></li>
            <li><a class="menuFont" href="#">Actualités</a></li>
            <li><a class="menuFont" href="#">Evénements</a></li>
            <li><a class="menuFont" href="{{ path('agri-rangers') }}">Qui sommes-nous ?</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="menuFont"><span class="glyphicon glyphicon-user"></span> S'enregistrer</a></li>
            <li><a href="#"class="menuFont"><span class="glyphicon glyphicon-log-in"></span> S'identifier</a></li>
        </ul>
    </div>
</nav>

<h1 class="text-center h1Rang">Les agri-rangers</h1>
<div>
    <h2 class="text-center">Animatrice : Mélanie <img class="img-circle imgRang" src="{{ asset('image/melanie.jpg')}}"></h2>
</div>
<div>
    <h2 class="text-center">Designer : Jean-Baptiste <img class="img-circle imgRang" src="{{ asset('image/jb.jpg')}}"></h2>
</div>
<div>
    <h2 class="text-center">Développeur : Patrick <img class="img-circle imgRang" src="{{ asset('image/patrick.jpg')}}"> & Joël <img class="img-circle imgRang" src="{{ asset('image/joel.jpg')}}"></h2>

</div>
<!-- Footer -->
<img class="img-responsive imgFooterRang" src="{{ asset('image/footer.png')}}">

</body>

</html>