<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>HubAgri</title>
    <link rel="stylesheet" href="{{ asset('style/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('style/style.css')}}">
</head>
<body>

<nav class="navbar navbar menu">
    <div class="container-fluid menuNav">
        <div class="navbar-header">
            <a class="navbar-brand " href="#"><img src="{{ asset('image/logo.png')}}" alt="Logo de la Agri'ID" class="img-responsive logo" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a class="menuFont" href="{{ path('accueil') }}">Accueil</a></li>
            <li><a class="menuFont" href="{{ path('article') }}">Rechercher</a></li>
            <li><a class="menuFont" href="#">Partager</a></li>
            <li><a class="menuFont" href="#">Actualités</a></li>
            <li><a class="menuFont" href="#">Evénements</a></li>
            <li><a class="menuFont" href="{{ path('agri-rangers') }}">Qui sommes-nous ?</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="menuFont"><span class="glyphicon glyphicon-user"></span> S'enregistrer</a></li>
            <li><a href="#"class="menuFont"><span class="glyphicon glyphicon-log-in"></span> S'identifier</a></li>
        </ul>
    </div>
</nav>


    <div class="jumbotron">

        <div class="container-fluid">
            <div class="jumboTexte">
                <h1>Agri'ID </h1><br/>
                <p class="slogan">Recherchez, Trouvez, Contribuez !</p>
                <p class="slogan2">Plateforme collaborative des professionnels du monde agricole</p>

                <p><a class="btn btn-primary btn-lg" href=" {{ path ('pourquoi') }}" role="button">En savoir plus</a></p>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="rubrique">

                <div class="col-lg-6">
                    <a href="#" class="thumbnail">
                        <img class="search" src="{{ asset('image/cat5.jpg')}}"alt="rechecher">
                    </a>
                </div>

               <div class="col-lg-6">
                <a href="#" class="thumbnail">
                    <img src="{{ asset('image/cat1.jpeg')}}" alt="...">
                </a>
                </div>
           </div>
         </div>
        <div class="row">
            <div class="rubrique">
                <div class="col-lg-6">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('image/cat4.png')}}" alt="...">
                    </a>
                </div>

                <div class="col-lg-6">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('image/cat3.jpeg')}}" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="background1">
    <div class="container">
        <div class="note">
            <h1 class="catTitre">Contenus les plus populaires</h1>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-4"><h2 class="catTitre2">Meilleurs articles</h2></div>
                <div class="col-lg-offset-1 col-lg-4"><h2 class="catTitre2">Article des top utilisateurs</h2></div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="{{ asset('image/star1.png')}}" alt="paturage">
                        <div class="caption">
                            <h3 class="starTitre">Les paturages de demain</h3>
                            <p class="starTexte">1er novembre 2016<br/>
                            <p class="starVote"><img src="{{ asset('image/stars.png')}}" alt="vote"> <br/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="{{ asset('image/user1.png')}}" alt="">
                        <div class="caption">
                            <h3 class="userTitre">Martine</h3>
                            <p class="userTexte">Système de culture : Polyculture-élevage <br/>
                            <p class="userTexte">Région : Charente <br/>
                            <p class="userTexte">Note : 5 <br/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="{{ asset('image/star2.png')}}" alt="">
                        <div class="caption">
                            <h3 class="starTitre">Les engrais bio</h3>
                            <p class="starTexte">1er avril 2016<br/>
                            <p class="starVote"><img src="{{ asset('image/stars.png')}}" alt="vote"> <br/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="{{ asset('image/user2.png')}}" alt="">
                        <div class="caption">
                            <h3 class="userTitre">David</h3>
                            <p class="userTexte">Système de culture : Grande culture</p>
                            <p class="userTexte">Région : Indre-et-Loire <br/>
                            <p class="userTexte">Note : 4,8</p>

                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="{{ asset('image/star1.png')}}" alt="">
                        <div class="caption">
                            <h3 class="starTitre">Les paturages de demain</h3>
                            <p class="starTexte">Note <br/>
                            <p class="starTexte">6 juin 2016<br/>
                            <p class="starTexte">Note : 4,7 <br/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="{{ asset('image/user3.png')}}" alt="">
                        <div class="caption">
                            <h3 class="userTitre">Thierry</h3>
                            <p class="userTexte">Système de culture : Grande culture</p>
                            <p class="userTexte">Région : Palais-de-Calais <br/>
                            <p class="userTexte">Note: 4,5</p>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    </div>


    <div class="container">
        <div class="note">
            <h2 class="catTitre3">Derniers articles</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="thumbnail">

                        <div class="caption">
                            <h3 class="sujetTitre">Lara</h3>
                            <a href="#"><p class="sujetTitre">Bruxelles défend les effets positifs du libre-échange</p></a>
                            <p class="sujetDate">Il y a 17 minutes</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="sujetTitre">Joël</h3>
                            <a href="#"><p class="sujetTitre">Agriculture bio : les défis à rélever face à la croissance</p></a>
                            <p class="sujetDate">il y a 50 minutes</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="sujetTitre">Lara</h3>
                            <a href="#"><p class="sujetTitre">L'agriculture ouvre ses portes pour aider les jeunes</p></a>
                            <p class="sujetDate">il y a 3 heures</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 class="sujetTitre">Cyril</h3>
                            <a href="#"> <p class="sujetTitre">Le faux semis </p></a>
                            <p class="sujetDate">il y a 5 heures</p>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="footer">
                    <div class="col-lg-offset-4 col-lg-8">
                        <img src="{{ asset('image/social.png')}}" alt="reseaux sociaux" class="social">
                    </div>
                </div>


</div>





</html>
